{% extends 'main.html' %}
{% load static %}
{% block title %}<title>Restoran - Registration </title>{% endblock %}


{% block content %}

    {% include 'hero.html' %}

<link rel="stylesheet" href="{% static "css/sing.css" %}" media="screen" type="text/css" />

<div id="login-box">
  <div class="left">
    <h1>Sign up</h1>
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
            <button type="submit" name="signup_submit" value="Sign me up">Sign me up</button>
        </form>
  </div>

</div>

{% endblock %}